@use "../../mixins/mixins";
.navigation {
    @include mixins.flex-center;
    height: var(--height-nav);
    &-button {
        @include mixins.button;
        height: 100%;
        width: var(--height-nav);
        font-weight: 900;
    }
    &-page {
        width: 10%;
        text-align: center;
        color: var(--color-txt-char);
        font-weight: 700;
    }
    &-results {
        text-align: center;
        color: var(--color-txt-header);
    }
    &-form {
        @include mixins.flex-center;
        justify-content: center;
        width: 25%;
        input {
            margin-left: var(--margin);
            width: 20%;
        }
        &-button {
            @include mixins.button;
            padding: calc(var(--margin) / 2);
            font-weight: 700;
        }
    }
}
