@use "../../mixins/mixins";
.wrapper {
    min-height: var(--height-list);
    margin: var(--margin) 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: var(--gap);
    row-gap: var(--margin);
}
.character {
    @include mixins.animation;
    background-color: var(--color-bgc-char);
    min-height: var(--height-elem);
    width: var(--width);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: calc(var(--margin) / 2);
    &-img {
        height: var(--width);
        img {
            height: 100%;
            width: 100%;
            border-radius: calc(var(--margin) / 2);
        }
    }
    &-name {
        @include mixins.link;
        font-size: calc(var(--font-size) / 2);
    }
    &-heart {
        transition: var(--vt-trans);
        cursor: pointer;
    }
}
.favourite {
    --sh: calc(var(--margin) / 2);
    box-shadow: var(--sh) var(--sh) var(--sh) var(--color-bgc-char-favourite);
}
.search-error {
    @include mixins.animation;
    @include mixins.error;
}
// @media (min-width: 1024px) {
//     .wrapper {
//         min-height: 100vh;
//     }
// }
// @media (min-width: 768px) {
//     .character {
//         width: 21%;
//         margin: 2%;
//     }
// }

// @media (min-width: 768px) {
//     .char-name {
//         font-size: 1rem;
//     }
// }
